:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base Site*/
body{
    color: whitesmoke;
    background: var(--preto);
    font-family: 'Arial', Times, serif;
}

header .conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

header .logo{
    color:var(--vermelho);
    font-family: 'arial black', times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    
}

header nav a:hover{
    color: #FFF
}

/*Filme Principal*/
.filme-principal{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-destaque.jpg');
    height: 400px;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 15px;
}

.title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: whitesmoke;

    padding: 15px;
    margin-right: 15px;
    font-size: 12px;
    
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease all;
}
.botao:hover{
    background-color: whitesmoke;
    color: black;
    
}
.botao i{
    margin-right: 5px;
}

.conteiner{
    margin-left: 10px;
}

.filme-principal .conteiner{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    margin-top: 5px;
    display: block;

}
